@import url(../style/intro.css);
html{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  ::-moz-selection { /* Code for Firefox */
    color: #a800ff;
    background: orange;
  }
  
  ::selection {
    color: #a800ff;
    background: orange;
  }
  body {
    margin: 0px;
    overflow-y: scroll;
  }
  h2 {
    font-size: 7vmin;
    margin: 0;
    padding: 0;
  }
  h3 {
    max-width: 80%;
    font-size: 4vmin;
    font-weight: 400;
  }
  p {
    max-width: 80%;
    font-size: 2vmin;
  }
  main {
    nav {
      // display: flex;
      // flex-direction: column;
      position: sticky;
      top: 0;
      margin: 0 3em;
      padding-top: 1em;
      text-align: right;
      z-index: 50;
      a {
        display: inline-block;
        background-color: #fff;
        color: #222222;
        font-size: 2em;
        padding: 0 0.5em;
        margin: 0.1em 0;
        &:hover{
          font-weight: 600;

        }
      }
      .selected {
        background-color: orange;
        font-weight: 600;
        font-size: 2.3em;
        box-shadow:  0.1em 0.1em black, inset -0.1em -0.1em white;

      }
    }
  }
  section {
    min-height: 100vh;
  }
  section.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
    transition: transform 1s;
    &[status="off"] {
transform: translateX(-100%);
    }
  }
  .items_title {
    color: #818181;
    display: inline-block;
    border-bottom: 1px solid #b3b3b3;
    width: 15em;
  }
  .items_icons {
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item_icon {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 0.7em;
      font-weight: 600;
      color: #acacac;
      &:hover {
        color: #222222;
      }
              img {
      display: inline-block;
      height: 4.5em;
      padding: 0 0.6em 0.2em;
      position: relative;
    }
    }

  }
  section.work {
    position: relative;
    .lamp {
      display: block;
      position: absolute;
      top: 0;
      left: 3em;
      width: 37vw;
      height: 90%;
      background-image: url(../img/lamp.webp);
      background-position-x: 70%;
      background-size: cover;
      box-shadow: 1vw 1vw rgba(255, 165, 0, 0.8), 2vw 2vw rgba(255, 165, 0, 0.5);
    }
    .top, .bottom {
      min-height: 50vh;
      // width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      h3 {
        display: inline-block;
        padding: 0.3em 1em;
        box-shadow: 0.5em 0.5em #818181;
      }
      a {
        color: #fff;
        &:hover {
          color: orange;
        }
      }
    }
    .top {
      background-color: #fff;
      color: #222222;
      h3 {
        color: #fff;
        background-color: #222222;
      }
    }
    .bottom {
      color: #fff;
      background-color: #222222;
      h3 {
        color: #222222;
        background-color: #fff;
      }
    }
    .bottom, .top {

      article {
        text-align: left;
        width: 50%;
        padding: 4em 0;
      }
      p {
        width: calc(min(65%, 46em));
        padding: 0 4em 0 0;
      }
      .video {
        display: inline-block;
        width:19vw;
        padding: 1em 0;
        position: relative;
        
        // &::after {
        //   color: #222222;
        //   font-size: 3vw;
        //   text-align: center;
        //   transition: all 0.5s;
        //   content: "\25BA";
        //   display: block;
        //   background-color: #fff;
        //   position: absolute;
        //   // width: 30%;
        //   aspect-ratio: 1;
        //   padding: 0 0.8vw 0 1vw;
        //   top: 30%;
        //   left: 37%;
        // }
        // img {
        //   width: 100%;
        //   opacity: 0.5;
        //   transition: all 0.5s;
        //   &:hover {
        //     opacity: 1;
        //   }
        // }
      }
      // .video:hover {
      //   &::after{
      //     color: #ffffff;
      //     background-color: #222222;
      //   }
      //   img {
      //     opacity: 1;
      //   }
      // }
    }
  }
  section.life_hero,
  section.life_achievements,
  section.life_tv,
  section.life_kids,
  section.contact {
    display: flex;
    justify-content: center;
    .wrap {
      // max-width: 1400px;
      width: 100%;
      // max-height: 500px;
      min-height: 50vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .left, .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      } 
    }
  }

  section.life_hero {
   .wrap {
    background-image: url(../img/nad_woda.jpg);
    background-size: cover;
    .right {
      color: #fff;
      text-align: center;
      box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.7)
    }
  }
  }
  section.life_achievements{
    .wrap {
     .right {
background-image: url(../img/peru.jpg);
background-size: cover;
background-position-y: bottom;
background-position-x: center;
     }
     .left{
      .items_title {
        width: 80%;
      }
      .items_icons {
        width: 80%;
        gap: 2vmin;
        .item_icon {
          span {
            width: 100%;
          }
        }
      }
     }
   }
   }
   section.life_tv{
    .wrap {
     .left {
background-image: url(../img/radio.jpg);
background-size: cover;
background-position-y: bottom;
background-position-x: 20%;
     }
     .right {
      color: #fff;
background-color: #90081C;
     }
   }
   }
   section.life_kids{
    .wrap {
     .right {
background-image: url(../img/kids.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position-y: top;
background-position-x: center;
     }
     .left {
background-color: #fff;
     }
   }
   }
   section.contact{
    min-height: 50vh;
    background-color: #90081C;
    .wrap {
     .right {
      form {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
    all: unset;
    border: 2px solid white;
    padding: 0.6em;
    width: 80%;
    box-shadow: 1em 1em #fff;
        }
        input[type="submit"]{
          text-align: right;
          box-shadow: 1em 1em #fff, 1em 0 #fff;
          background-color: #90081C;
          cursor: pointer;
          &:hover {
            background-color: #fff;
            color: #90081C;
            box-shadow: inset 0 -4px #90081C, 1em 1em #fff, 1em 0 #fff;
            // box-shadow: 0.5em 0.5em #90081C, -1em -1em #fff, 1em 1em #fff, 1em 0 #fff;
          }
        }
        input:disabled {
          background-color: #818181;
        }
        textarea {
          all: unset;
          margin-top: 3em;
          border: 2px solid white;
          padding: 0.6em;
          width: 80%;
          box-shadow: 1em 1em #fff;
        }
        .catpcha-ex {
              width: 100%;
              max-width: 84%;
              margin-top: 3vmin;
         }

      }
     }
     .left {
      padding-top: 4em;
      color: #fff;
      justify-content: flex-start;
      h3 {
        margin: 0;
        padding: 0;
        max-width: 80%;
      }
      p {
        margin-top: 0;
        max-width: 80%;
      &::after {
        content: "on the right.";
      }
      }
      span {
        text-align: right;
        width: 80%;
        font-size: 4em;
      }
     }
   }
   }
   section.sent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #90081C;
    color: #fff;
    a {
      color: #fff;
    }
   }
   @media screen and (max-width:950px){
    h3 {
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
      max-width: unset;
    }
    main {
      nav {
        margin: 0;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .selected {
          font-size:2em;
        }
        display: flex;
        padding-top: 0;
        a {
          font-size: 2em;
          margin: 0;
          // display: block;
        }
      }}
    section.work {
      .lamp {
position: relative;
        left: 5%;
        width: 90%;
        height: 50vh;
        background-position-x: right;
        background-position-y: 50%;
      }
      .top, .bottom{
        align-items: center;
        article {
          width: 80%;
          padding: 1em 0;

        }
        p {
          width: 100%;
        }
      }

    }
    section.life_hero,
  section.life_achievements,
  section.life_tv,
  section.life_kids,
  section.contact{
    height: auto;
    .wrap {
      flex-direction: column;
      .left, .right {
        width: 100%;
        height: auto;
        min-height: 50vh;
        h3, p {
          max-width: 90%;
        }
      }
    }
  }
  section.contact{
    .wrap{
    .left{
      min-height: auto;
      p{
        &::after {
          content: 'below.';
        }
      }
    }
  }
  }
  section.life_tv {
    .wrap {
      flex-direction: column-reverse;
    }
  }
   }