@import url(../style/intro.css);
html {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

::-moz-selection {
  /* Code for Firefox */
  color: #a800ff;
  background: orange;
}

::selection {
  color: #a800ff;
  background: orange;
}

body {
  margin: 0px;
  overflow-y: scroll;
}

h2 {
  font-size: 7vmin;
  margin: 0;
  padding: 0;
}

h3 {
  max-width: 80%;
  font-size: 4vmin;
  font-weight: 400;
}

p {
  max-width: 80%;
  font-size: 2vmin;
}

main nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0 3em;
  padding-top: 1em;
  text-align: right;
  z-index: 50;
}

main nav a {
  display: inline-block;
  background-color: #fff;
  color: #222222;
  font-size: 2em;
  padding: 0 0.5em;
  margin: 0.1em 0;
}

main nav a:hover {
  font-weight: 600;
}

main nav .selected {
  background-color: orange;
  font-weight: 600;
  font-size: 2.3em;
  -webkit-box-shadow: 0.1em 0.1em black, inset -0.1em -0.1em white;
          box-shadow: 0.1em 0.1em black, inset -0.1em -0.1em white;
}

section {
  min-height: 100vh;
}

section.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  margin: 0px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

section.intro[status="off"] {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.items_title {
  color: #818181;
  display: inline-block;
  border-bottom: 1px solid #b3b3b3;
  width: 15em;
}

.items_icons {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items_icons .item_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 0.7em;
  font-weight: 600;
  color: #acacac;
}

.items_icons .item_icon:hover {
  color: #222222;
}

.items_icons .item_icon img {
  display: inline-block;
  height: 4.5em;
  padding: 0 0.6em 0.2em;
  position: relative;
}

section.work {
  position: relative;
}

section.work .lamp {
  display: block;
  position: absolute;
  top: 0;
  left: 3em;
  width: 37vw;
  height: 90%;
  background-image: url(../img/lamp.webp);
  background-position-x: 70%;
  background-size: cover;
  -webkit-box-shadow: 1vw 1vw rgba(255, 165, 0, 0.8), 2vw 2vw rgba(255, 165, 0, 0.5);
          box-shadow: 1vw 1vw rgba(255, 165, 0, 0.8), 2vw 2vw rgba(255, 165, 0, 0.5);
}

section.work .top, section.work .bottom {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.work .top h3, section.work .bottom h3 {
  display: inline-block;
  padding: 0.3em 1em;
  -webkit-box-shadow: 0.5em 0.5em #818181;
          box-shadow: 0.5em 0.5em #818181;
}

section.work .top a, section.work .bottom a {
  color: #fff;
}

section.work .top a:hover, section.work .bottom a:hover {
  color: orange;
}

section.work .top {
  background-color: #fff;
  color: #222222;
}

section.work .top h3 {
  color: #fff;
  background-color: #222222;
}

section.work .bottom {
  color: #fff;
  background-color: #222222;
}

section.work .bottom h3 {
  color: #222222;
  background-color: #fff;
}

section.work .bottom article, section.work .top article {
  text-align: left;
  width: 50%;
  padding: 4em 0;
}

section.work .bottom p, section.work .top p {
  width: calc(min(65%, 46em));
  padding: 0 4em 0 0;
}

section.work .bottom .video, section.work .top .video {
  display: inline-block;
  width: 19vw;
  padding: 1em 0;
  position: relative;
}

section.life_hero,
section.life_achievements,
section.life_tv,
section.life_kids,
section.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.life_hero .wrap,
section.life_achievements .wrap,
section.life_tv .wrap,
section.life_kids .wrap,
section.contact .wrap {
  width: 100%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.life_hero .wrap .left, section.life_hero .wrap .right,
section.life_achievements .wrap .left,
section.life_achievements .wrap .right,
section.life_tv .wrap .left,
section.life_tv .wrap .right,
section.life_kids .wrap .left,
section.life_kids .wrap .right,
section.contact .wrap .left,
section.contact .wrap .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.life_hero .wrap {
  background-image: url(../img/nad_woda.jpg);
  background-size: cover;
}

section.life_hero .wrap .right {
  color: #fff;
  text-align: center;
  -webkit-box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.7);
}

section.life_achievements .wrap .right {
  background-image: url(../img/peru.jpg);
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
}

section.life_achievements .wrap .left .items_title {
  width: 80%;
}

section.life_achievements .wrap .left .items_icons {
  width: 80%;
  gap: 2vmin;
}

section.life_achievements .wrap .left .items_icons .item_icon span {
  width: 100%;
}

section.life_tv .wrap .left {
  background-image: url(../img/radio.jpg);
  background-size: cover;
  background-position-y: bottom;
  background-position-x: 20%;
}

section.life_tv .wrap .right {
  color: #fff;
  background-color: #90081C;
}

section.life_kids .wrap .right {
  background-image: url(../img/kids.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
}

section.life_kids .wrap .left {
  background-color: #fff;
}

section.contact {
  min-height: 50vh;
  background-color: #90081C;
}

section.contact .wrap .right form {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contact .wrap .right form input {
  all: unset;
  border: 2px solid white;
  padding: 0.6em;
  width: 80%;
  -webkit-box-shadow: 1em 1em #fff;
          box-shadow: 1em 1em #fff;
}

section.contact .wrap .right form input[type="submit"] {
  text-align: right;
  -webkit-box-shadow: 1em 1em #fff, 1em 0 #fff;
          box-shadow: 1em 1em #fff, 1em 0 #fff;
  background-color: #90081C;
  cursor: pointer;
}

section.contact .wrap .right form input[type="submit"]:hover {
  background-color: #fff;
  color: #90081C;
  -webkit-box-shadow: inset 0 -4px #90081C, 1em 1em #fff, 1em 0 #fff;
          box-shadow: inset 0 -4px #90081C, 1em 1em #fff, 1em 0 #fff;
}

section.contact .wrap .right form textarea {
  all: unset;
  margin-top: 3em;
  border: 2px solid white;
  padding: 0.6em;
  width: 80%;
  -webkit-box-shadow: 1em 1em #fff;
          box-shadow: 1em 1em #fff;
}

section.contact .wrap .left {
  padding-top: 4em;
  color: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section.contact .wrap .left h3 {
  margin: 0;
  padding: 0;
  max-width: 80%;
}

section.contact .wrap .left p {
  margin-top: 0;
  max-width: 80%;
}

section.contact .wrap .left p::after {
  content: "on the right.";
}

section.contact .wrap .left span {
  text-align: right;
  width: 80%;
  font-size: 4em;
}

section.sent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #90081C;
  color: #fff;
}

section.sent a {
  color: #fff;
}

@media screen and (max-width: 950px) {
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
    max-width: unset;
  }
  main nav {
    margin: 0;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: flex;
    padding-top: 0;
  }
  main nav .selected {
    font-size: 2em;
  }
  main nav a {
    font-size: 2em;
    margin: 0;
  }
  section.work .lamp {
    position: relative;
    left: 5%;
    width: 90%;
    height: 50vh;
    background-position-x: right;
    background-position-y: 50%;
  }
  section.work .top, section.work .bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.work .top article, section.work .bottom article {
    width: 80%;
    padding: 1em 0;
  }
  section.work .top p, section.work .bottom p {
    width: 100%;
  }
  section.life_hero,
  section.life_achievements,
  section.life_tv,
  section.life_kids,
  section.contact {
    height: auto;
  }
  section.life_hero .wrap,
  section.life_achievements .wrap,
  section.life_tv .wrap,
  section.life_kids .wrap,
  section.contact .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.life_hero .wrap .left, section.life_hero .wrap .right,
  section.life_achievements .wrap .left,
  section.life_achievements .wrap .right,
  section.life_tv .wrap .left,
  section.life_tv .wrap .right,
  section.life_kids .wrap .left,
  section.life_kids .wrap .right,
  section.contact .wrap .left,
  section.contact .wrap .right {
    width: 100%;
    height: auto;
    min-height: 50vh;
  }
  section.life_hero .wrap .left h3, section.life_hero .wrap .left p, section.life_hero .wrap .right h3, section.life_hero .wrap .right p,
  section.life_achievements .wrap .left h3,
  section.life_achievements .wrap .left p,
  section.life_achievements .wrap .right h3,
  section.life_achievements .wrap .right p,
  section.life_tv .wrap .left h3,
  section.life_tv .wrap .left p,
  section.life_tv .wrap .right h3,
  section.life_tv .wrap .right p,
  section.life_kids .wrap .left h3,
  section.life_kids .wrap .left p,
  section.life_kids .wrap .right h3,
  section.life_kids .wrap .right p,
  section.contact .wrap .left h3,
  section.contact .wrap .left p,
  section.contact .wrap .right h3,
  section.contact .wrap .right p {
    max-width: 90%;
  }
  section.contact .wrap .left {
    min-height: auto;
  }
  section.contact .wrap .left p::after {
    content: 'below.';
  }
  section.life_tv .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=style.css.map */