@import url(../style/intro.css);
html {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

::-moz-selection {
  /* Code for Firefox */
  color: #a800ff;
  background: orange;
}

::selection {
  color: #a800ff;
  background: orange;
}

body {
  margin: 0px;
  overflow-y: scroll;
}

main nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0 3em;
  padding-top: 1em;
  text-align: right;
  z-index: 50;
}

main nav a {
  display: inline-block;
  background-color: #fff;
  color: #222222;
  font-size: 2em;
  padding: 0 0.5em;
  margin: 0.1em 0;
}

main nav a:hover {
  font-weight: 600;
}

main nav .selected {
  background-color: orange;
  font-weight: 600;
  font-size: 2.3em;
  -webkit-box-shadow: 0.1em 0.1em black, inset -0.1em -0.1em white;
          box-shadow: 0.1em 0.1em black, inset -0.1em -0.1em white;
}

section {
  min-height: 100vh;
}

section.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  margin: 0px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

section.intro[status="off"] {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

section.work {
  position: relative;
}

section.work .lamp {
  display: block;
  position: absolute;
  top: 0;
  left: 3em;
  width: 37vw;
  height: 90%;
  background-image: url(../img/lamp.webp);
  background-position-x: 70%;
  background-size: cover;
  -webkit-box-shadow: 1vw 1vw rgba(255, 165, 0, 0.8), 2vw 2vw rgba(255, 165, 0, 0.5);
          box-shadow: 1vw 1vw rgba(255, 165, 0, 0.8), 2vw 2vw rgba(255, 165, 0, 0.5);
}

section.work .top, section.work .bottom {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.work .top h3, section.work .bottom h3 {
  display: inline-block;
  padding: 0.3em 1em;
  -webkit-box-shadow: 0.5em 0.5em #818181;
          box-shadow: 0.5em 0.5em #818181;
}

section.work .top .items_title, section.work .bottom .items_title {
  color: #818181;
  display: inline-block;
  border-bottom: 1px solid #b3b3b3;
  width: 15em;
}

section.work .top .items_icons, section.work .bottom .items_icons {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section.work .top .items_icons .item_icon, section.work .bottom .items_icons .item_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 0.7em;
  font-weight: 600;
  color: #acacac;
}

section.work .top .items_icons .item_icon:hover, section.work .bottom .items_icons .item_icon:hover {
  color: #222222;
}

section.work .top .items_icons .item_icon img, section.work .bottom .items_icons .item_icon img {
  display: inline-block;
  max-height: 4.5em;
  padding: 0 0.6em 0.2em;
  position: relative;
}

section.work .top {
  background-color: #fff;
  color: #222222;
}

section.work .top h3 {
  color: #fff;
  background-color: #222222;
}

section.work .bottom {
  color: #fff;
  background-color: #222222;
}

section.work .bottom h3 {
  color: #222222;
  background-color: #fff;
}

section.work .bottom article, section.work .top article {
  text-align: left;
  width: 50%;
  padding: 4em 0;
}

section.work .bottom p, section.work .top p {
  width: calc(min(65%, 46em));
  padding: 0 4em 0 0;
}

section.work .bottom .video, section.work .top .video {
  display: inline-block;
  width: 19vw;
  padding: 1em 0;
  position: relative;
}

section.work .bottom .video::after, section.work .top .video::after {
  color: #222222;
  font-size: 3vw;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: "\25BA";
  display: block;
  background-color: #fff;
  position: absolute;
  aspect-ratio: 1;
  padding: 0 0.8vw 0 1vw;
  top: 30%;
  left: 37%;
}

section.work .bottom .video img, section.work .top .video img {
  width: 100%;
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section.work .bottom .video img:hover, section.work .top .video img:hover {
  opacity: 1;
}

section.work .bottom .video:hover::after, section.work .top .video:hover::after {
  color: #ffffff;
  background-color: #222222;
}

section.work .bottom .video:hover img, section.work .top .video:hover img {
  opacity: 1;
}

section.life_hero,
section.life_achievements,
section.life_tv,
section.life_kids,
section.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.life_hero .wrap,
section.life_achievements .wrap,
section.life_tv .wrap,
section.life_kids .wrap,
section.contact .wrap {
  width: 100%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.life_hero .wrap h2,
section.life_achievements .wrap h2,
section.life_tv .wrap h2,
section.life_kids .wrap h2,
section.contact .wrap h2 {
  font-size: 7vmin;
}

section.life_hero .wrap h3,
section.life_achievements .wrap h3,
section.life_tv .wrap h3,
section.life_kids .wrap h3,
section.contact .wrap h3 {
  font-size: 5vmin;
  font-weight: 400;
}

section.life_hero .wrap p,
section.life_achievements .wrap p,
section.life_tv .wrap p,
section.life_kids .wrap p,
section.contact .wrap p {
  max-width: 80%;
}

section.life_hero .wrap .left, section.life_hero .wrap .right,
section.life_achievements .wrap .left,
section.life_achievements .wrap .right,
section.life_tv .wrap .left,
section.life_tv .wrap .right,
section.life_kids .wrap .left,
section.life_kids .wrap .right,
section.contact .wrap .left,
section.contact .wrap .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.life_hero .wrap {
  background-image: url(../img/nad_woda.jpg);
  background-size: cover;
}

section.life_hero .wrap .right {
  color: #fff;
  text-align: center;
  -webkit-box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.7);
}

section.life_achievements .wrap .left, section.life_achievements .wrap .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.life_achievements .wrap .right {
  background-image: url(../img/peru.jpg);
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
}
/*# sourceMappingURL=style.css.map */